.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
	min-width: 400px;
    justify-content: space-around;
    background-color: transparent;
    padding-top: 2%;
    margin-right: 3em;
}
.navbar-container div{
    padding: 2%;
}
.navbar-container img:hover{
    box-shadow:
                1px 1px transparent,
                2px 2px transparent,
                3px 3px transparent;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
#donutIcon img{
    width: 150px;
	height: 100px;
    padding-left: 2.5em;
}
#aboutUs{
    max-height: 30px;
    max-width: 100%;
    height: auto;
}
#menuIcon{
    max-height: 30px;
    max-width: 100%; 
    height: auto;
}
#contactIcon{
    max-height: 30px;
    max-width: 100%;
    height: auto;
}
body{
    background-color: #422b25;
}
.pic-container{
    float: left;
    width: 33.33%;
    text-align: center;
	padding: 1em;
	word-wrap: break-word;
	min-width: 320px;
}
.pic-container img{
   	width: 100%;
	height: auto;
    border: 8px solid #f5b142;
}
.pic-container h1{
    text-decoration: underline;
    font-style: italic;
    color: #f5b142;
}
.pic-container h2{
    font-style: italic;
    color: #d3793a;
}
.pic-container ul{
    margin: 1em;
    padding: 0.5em;
    color: #f5b142;
    border: 2px solid #f5b142;
    font-size: 24px;
}
#JokeOfDay{
    margin: 1.5em;
    color: #d3793a;
}
#question{
    color: #f5b142;
}
#beverages-box h1{
    text-decoration: underline;
    color: #f5b142;
}
#beverage-box h2{
    color: #d3793a;
}
*{
	box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    justify-content: center;
}
#veterans-gif{
	max-width: 60%;
}
#nav_bar{
    display: none;
}
#small_nav {
	display: none;
	width: 100%;
    background-color: #422b25;
    color: #422b25;
}
footer{
    color: #f5b142;
    font-style: italic;
    text-align: center;
}
@media only screen and (max-width: 1100px){
    .navbar-container{
        display: none;
    }
    #nav_bar{
        display: none;
        background-color: #422b25;
    }
    #small_nav{
        display: block;
        background-color: #422b25;
    }
    .slicknav_menu{
        background-color: #422b25;
    }
    .pic-container{
        margin-left: 3em;
    }
}
